[Desktop Entry]
Name=SudoMe
Comment=Temporary sudo privilege elevation
Comment[de]=Temporäre sudo-Rechteerweiterung
Comment[es]=Elevación temporal de privilegios sudo
Comment[fr]=Élévation temporaire des privilèges sudo
Exec=sudome-gui
Icon=sudome
Type=Application
Categories=System;Security;Utility;
StartupNotify=false
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=5
NoDisplay=false
Terminal=false
