[Unit]
Description=SudoMe — Temporary sudo elevation daemon
Documentation=https://github.com/0xEuphonioux/SudoMe
After=default.target

[Service]
Type=oneshot
ExecStart=/usr/lib/sudome/sudome-daemon
Nice=19
IOSchedulingClass=idle
StandardOutput=journal
StandardError=journal
